h1 {
    color:#6fdbf4;
    background-color: rgb(213, 231, 247);
    text-align: center;
    text-shadow: 2px 2px 5px rgb(2, 35, 61);
}
body{
  background-color: rgb(213, 231, 247);  
}
h2 {
    color:#0487c4;
    font-family: 'Sixtyfour', sans-serif;
}

img {
    width: 120px;
    height: 180px;
    border: 5px solid #6fdbf4;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0487c4;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .center{
    display:flex;
    justify-content: space-between;
  }
